<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DENHAC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <fa name="fort-awesome" size="2x"></fa>Home
          <span class="sr-only">(current)</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">
          <!-- <fa name="question-circle" size="lg"></fa> -->
          <i class="fa fa-question-circle" style="font-size:20px;"></i>
          About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/member-services">
          <!-- <fa name="user" size="lg"></fa> -->
          <i class="fa fa-user" style="font-size:20px;"></i>
          Member Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.meetup.com/denhac-hackerspace/" target="_blank">
          <!-- <fa name="graduation-cap" size="lg"></fa> -->
          <i class="fa fa-graduation-cap" style="font-size:20px;"></i>
          Classes</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/classes">
          <fa name="graduation-cap" size="lg"></fa>Classes</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="https://www.meetup.com/denhac-hackerspace/events/calendar/" target="_blank">
          <!-- <fa name="calendar" size="lg"></fa> -->
          <i class="fa fa-calendar" style="font-size:20px;"></i>
          Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/donate">
          <!-- <fa name="paypal" size="lg"></fa> -->
          <i class="fa fa-paypal" style="font-size:20px;"></i>
          Donate</a>
      </li>

    </ul>
    <span class="navbar-text">
      <!-- Navbar text with an inline element -->
    </span>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
