<div class="container dashboard">
    <!-- dashboard -->
    <div class="row">
      <div class="dash-item col">
        <h1>About Denhac</h1>
      </div>
      <!-- <div class="dash-item col"></div>
      <div class="dash-item col"></div>
      <div class="dash-item col">
  
      </div> -->
    </div>
    <div class="row">
      <div class="dash-item col hero">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/vo-WxtisriU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="dash-item col txt-center">
          <p>denhac is a 501(c)3 organization, supported by a community of volunteers and members who contribute to the space with memberships, donations, and time.</p>
          <p> Denhac is a vibrant and growing community. Come visit us at one of our open houses on Tuesday nights at 7:00 PM. If you like what you see, please feel free to donate money or equipment, or become a member for unlimited 24x7 access to the space and all the awesomeness inside!</p>
       </div>

    </div>

  