<div class="container dashboard">
    <!-- dashboard -->
    <div class="row">
      <div class="dash-item col">
        <h1>About</h1>
      </div>
      <!-- <div class="dash-item col"></div>
      <div class="dash-item col"></div>
      <div class="dash-item col">
  
      </div> -->
    </div>
    <div class="row">
      <div class="dash-item col hero">
      </div>
    </div>
    <div class="row">
      <div class="dash-item col txt-center blank">
         
       </div>
      <div class="dash-item col txt-center">

      </div>
    </div>
  </div>
  