<div class="dashboard">
  <div fxLayout fxLayout.xs="row" fxLayoutGap="3px" fxLayoutGap.xs="0">
    <div class="dash-item" fxFlex="20%" fxFlex>
      <img class="corner_icon" src="./assets/denhac_icon.png">
    </div>
    <div class="dash-item" fxFlex="20%" fxFlex>none</div>
    <div class="dash-item" fxFlex="20%" fxFlex>none</div>
    <div class="dash-item" fxFlex="20%" fxFlex>none</div>
    <div class="dash-item" fxFlex="20%" fxFlex>none</div>
  </div>
  <div fxLayout fxLayout.xs="row" fxLayoutGap="3px" fxLayoutGap.xs="0">
    <div class="dash-item hero" fxFlex="100%"></div>
  </div>
  <div fxLayout fxLayout.xs="row" fxLayoutGap="3px" fxLayoutGap.xs="0">
    <div class="dash-item item-1" fxFlex="100%">What's this</div>
    <div class="dash-item item-2" fxFlex="20%" fxFlexOrder="2">20</div>
    <div class="dash-item item-3" fxFlex>none</div>
    <div class="dash-item item-4" fxFlex="20%" fxFlexOrder="3">
      <p>Paragraph 1</p>
      <p>Paragraph 1</p>
      <p>Paragraph 1</p>
      <p>Paragraph 1</p>
    </div>
    <div class="dash-item item-5" fxFlex="30%" fxFlexOrder="4">30</div>
  </div>
  <div fxLayout fxLayout.xs="row" fxLayoutAlign="stretch" fxLayoutGap="3px" fxLayoutGap.xs="0">
    <div class="dash-item item-1" fxFlex="100%">What's this</div>
  </div>
</div>
