.content {
  display: block;
  background-color: green;
  /* width: 100%;
    height: 100%; */
  /* background-image: url("/assets/487.jpeg");
  background-size: contain;
  background-repeat: no-repeat; */
  width: 1200px;
  align-content: center;
  margin: auto;
  /* background-color: green; */
}

.navbar {
  max-width: 300px;
}

nav {
  max-width: 300px;
}

.data-block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 10px;
}

.dashboard {
  width: 80%;
  margin: auto;
  padding: 3px;
  background-color: #83a0c6;
  margin-top: 35px;
  .dash-item {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8097bd+0,546e8a+100 */
    background: #8097bd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #8097bd 0%, #546e8a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8097bd 0%, #546e8a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8097bd 0%, #546e8a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8097bd', endColorstr='#546e8a', GradientType=0);
    /* IE6-9 */
  }
  .hero {
    height: 400px;
  }
}
