<!-- <div class="content">

  <
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
  <div class="data-block"></div>
</div> -->
<app-navbar></app-navbar>
<div class="container" fxLayout fxLayout.xs="row" fxLayoutAlign="stretch" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="100%">What's this</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="2">Item 2</div>
  <div class="item item-3" fxFlex>Item 3</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="4">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="5">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="6">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
</div>
