<div class="container dashboard"> 
    <!-- dashboard -->
  <div class="row">
      <div class="dash-item col-2">
          <fa name="exclamation-triangle" size="3x" class="error-icon"></fa>
        </div>
        <div class="dash-item col">
            <h1>Page Not Found</h1>
          </div>
  </div>
  <div class="row">
      <div class="dash-item col">
          <img src="./assets/source.gif">
        </div>
</div>
<div class="row">
    <div class="dash-item col">
        <p>We have just gotten a wake-up call from the Nintendo Generation.</p>
      </div>
</div>
</div>
