.error-icon {
  display: block;
  color: red;
  padding: 10px;
}

h1 {
  padding: 10px;
}

img {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  max-width: 694px;
  width: 100%;
}

p {
  text-align: center;
}
