@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

// Mobile First
@media only screen and (max-width: 600px) {
  .dash-item {
      h1 {
        font-size: 25px;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
  }
  .dashboard {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .dashboard {
    width: 80%;
  }
}


body {
  background-image: url("./assets/denhac_background.png");
  background-color: black;
  color: #f0fefe;
  background-size: 80%;
  background-position: center;
  font-family: 'Do Hyeon', sans-serif;
  background-repeat: no-repeat;
}

.dashboard {
  max-width: 1000px;
  margin: auto;
  background-color: #83a0c6;
  margin-top: 35px;
  margin-bottom: 40px;
  .hero {
    // height: 400px;
  }
  .row {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.dash-item {
  margin: 2px; // display: inline-block;
  &.corner_icon {
     padding: 6px;
    text-align: center;
    img {
      margin: auto;
      display: block;
    }
  }
  border-radius: 3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8097bd+0,546e8a+100 */
  background: #8097bd;
  /* Old browsers */
  background: -moz-linear-gradient(top,
  #8097bd 0%,
  #546e8a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
  #8097bd 0%,
  #546e8a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
  #8097bd 0%,
  #546e8a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8097bd',
  endColorstr='#546e8a',
  GradientType=0);
  /* IE6-9 */
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  background: linear-gradient(to bottom, #4c5667 0%, #546e8a 100%);
}

h1 {
  padding-top: 6px;
}
.txt-center {
  padding-top: 14px;
  text-align: center;
  min-width: 100px;

}

.blank {
  height: 100px;
}

a {
  color: #132e96;
}

p{
  font-size: 20px;
}