<div class="container dashboard">
    <!-- dashboard -->
    <div class="row">
      <div class="dash-item col">
        <h1>Become a Member</h1>
      </div>
    </div>
    <div class="row">
      <div class="dash-item col hero">
      </div>
    </div>
    <div class="row">
        <div class="dash-item col">
          <h1>Current Memebrs</h1>
        </div>
      </div>
    <div class="row">
      <div (click)="goToPayment('reoccurring')" class="dash-item col txt-center clickable">
          
       </div>
      <div (click)="goToPayment('onetime')" class="dash-item col txt-center clickable">

      </div>
    </div>
  </div>